# Jupyter Notebook to explore the data and do data quality checks

In [1]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd

In [2]:
# Import the example dataset in a pandas dataframe
data = pd.read_csv("../data/example_data.csv")

In [4]:
# Display the data
data.head(10)

,Subfund_Code,Share_Class_Code,Valuation_Date,Subfund_CCY,Net_Asset_Value,Nb_Shares_Outstanding,NAV_Per_Share,CCY_NAV_share,ISIN_Code,Nb_Shares_Subscribed,Amount_Subscribed,Nb_Shares_Redeemed,Amount_Redeemed,Subfund_Long_Name,Dividend_Per_Share,Dividend_Payment_Date,Dividend_PCCY,Dividend_Payment_CCY,Dividend_Subfund_CCY,Total_Net_Assets
0,1,A,02/01/2018,EUR,53472989.09,564961.4266,111.6870,EUR,LU1234DEMO1A,0.0000,0.0000,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,53472989.09
1,1,A,03/01/2018,EUR,53615728.16,564974.2414,111.9820,EUR,LU1234DEMO1A,0.0000,0.0000,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,53615728.16
2,1,A,04/01/2018,EUR,53706892.15,565337.9646,112.1000,EUR,LU1234DEMO1A,0.0000,0.0000,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,53706892.15
3,1,A,05/01/2018,EUR,53946703.05,566130.6532,112.4422,EUR,LU1234DEMO1A,25.7948,2441.5616,12.9800,1228.5452,NaN,0.0,0.0,0,0,EUR,53946703.05
4,1,A,08/01/2018,EUR,54051911.14,566282.0000,112.6310,EUR,LU1234DEMO1A,549.7030,52166.4902,185.9798,17649.3662,NaN,0.0,0.0,0,0,EUR,54051911.14
5,1,A,09/01/2018,EUR,54001308.64,566882.5256,112.4068,EUR,LU1234DEMO1A,792.6886,75304.6618,0.0000,0.0000,NaN,0.0,0.0,0,0,EUR,54001308.64
6,1,A,10/01/2018,EUR,53763755.88,566653.7472,111.9584,EUR,LU1234DEMO1A,814.9906,77660.9566,663.6438,63239.1972,NaN,0.0,0.0,0,0,EUR,53763755.88
7,1,A,11/01/2018,EUR,53882490.78,568565.6658,111.8286,EUR,LU1234DEMO1A,711.7288,67935.2196,111.2032,10614.6192,NaN,0.0,0.0,0,0,EUR,53882490.78
8,1,A,12/01/2018,EUR,53850350.07,568226.5220,111.8286,EUR,LU1234DEMO1A,242.9030,23139.4224,471.6932,44933.1138,NaN,0.0,0.0,0,0,EUR,53850350.07
9,1,A,15/01/2018,EUR,53888766.22,568752.1530,111.8050,EUR,LU1234DEMO1A,2131.5756,202242.7960,219.6570,20840.5818,NaN,0.0,0.0,0,0,EUR,53888766.22

In [5]:
data[data["Dividend_Per_Share"]!=0]

,Subfund_Code,Share_Class_Code,Valuation_Date,Subfund_CCY,Net_Asset_Value,Nb_Shares_Outstanding,NAV_Per_Share,CCY_NAV_share,ISIN_Code,Nb_Shares_Subscribed,Amount_Subscribed,Nb_Shares_Redeemed,Amount_Redeemed,Subfund_Long_Name,Dividend_Per_Share,Dividend_Payment_Date,Dividend_PCCY,Dividend_Payment_CCY,Dividend_Subfund_CCY,Total_Net_Assets
13,1,A,19/01/2018,EUR,5.398299e+07,5.697466e+05,111.8050,EUR,LU1234DEMO1A,1222.1732,115946.5640,174.6164,1.656597e+04,NaN,0.3658,50880.42,0,EUR,EUR,5.398299e+07
33,1,A,16/02/2018,EUR,5.213306e+07,5.740182e+05,107.1676,EUR,LU1234DEMO1A,64.4162,5778.4836,482.9504,4.332020e+04,NaN,0.3658,50913.46,0,EUR,EUR,5.213306e+07
55,1,A,20/03/2018,EUR,5.025114e+07,5.614737e+05,105.6100,EUR,LU1234DEMO1A,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.3658,50951.22,0,EUR,EUR,5.025114e+07
74,1,A,18/04/2018,EUR,5.001510e+07,5.580866e+05,105.7516,EUR,LU1234DEMO1A,1687.1994,150985.1418,479.0800,4.287253e+04,NaN,0.3658,50985.44,0,EUR,EUR,5.001510e+07
94,1,A,18/05/2018,EUR,4.951885e+07,5.524875e+05,105.7634,EUR,LU1234DEMO1A,321.1606,28927.1808,121.2214,1.091807e+04,NaN,0.3658,51020.84,0,EUR,EUR,4.951885e+07
116,1,A,20/06/2018,EUR,4.786746e+07,5.408345e+05,104.4418,EUR,LU1234DEMO1A,1531.5928,136753.5040,766.4808,6.843739e+04,NaN,0.3658,51059.78,0,EUR,EUR,4.786746e+07
137,1,A,19/07/2018,EUR,4.745156e+07,5.372303e+05,104.2294,EUR,LU1234DEMO1A,259.1280,22924.1786,372.0304,3.291204e+04,NaN,0.3658,51094.00,0,EUR,EUR,4.745156e+07
159,1,A,21/08/2018,EUR,4.660522e+07,5.299931e+05,103.7692,EUR,LU1234DEMO1A,0.0000,0.0000,58.7404,5.153603e+03,NaN,0.3658,51132.94,0,EUR,EUR,4.660522e+07
180,1,A,19/09/2018,EUR,4.515098e+07,5.204534e+05,102.3650,EUR,LU1234DEMO1A,0.0000,0.0000,718.1716,6.240430e+04,NaN,0.3658,51167.16,0,EUR,EUR,4.515098e+07
202,1,A,19/10/2018,EUR,4.219888e+07,5.003522e+05,99.5212,EUR,LU1234DEMO1A,7.3278,621.5414,2042.0136,1.732017e+05,NaN,0.3658,51202.56,0,EUR,EUR,4.219888e+07
223,1,A,20/11/2018,EUR,3.869293e+07,4.671065e+05,97.7512,EUR,LU1234DEMO1A,485.2632,40809.4976,2570.1226,2.161413e+05,NaN,0.3658,51240.32,0,EUR,EUR,3.869293e+07
241,1,A,14/12/2018,EUR,3.725998e+07,4.528203e+05,97.0904,EUR,LU1234DEMO1A,0.0000,0.0000,1341.6482,1.106920e+05,NaN,0.3658,51268.64,0,EUR,EUR,3.725998e+07
264,1,B,19/01/2018,EUR,1.522653e+05,1.510400e+03,118.9558,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,50880.42,0,SGD,EUR,1.522653e+05
284,1,B,16/02/2018,EUR,1.459240e+05,1.510400e+03,113.9998,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,50913.46,0,SGD,EUR,1.459240e+05
306,1,B,20/03/2018,EUR,1.438658e+05,1.510400e+03,112.3950,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,50951.22,0,SGD,EUR,1.438658e+05
325,1,B,18/04/2018,EUR,1.439415e+05,1.510400e+03,112.4540,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,50985.44,0,SGD,EUR,1.439415e+05
345,1,B,18/05/2018,EUR,3.365470e+04,3.540000e+02,112.1826,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51020.84,0,SGD,EUR,3.365470e+04
367,1,B,20/06/2018,EUR,3.324323e+04,3.540000e+02,110.8138,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51059.78,0,SGD,EUR,3.324323e+04
388,1,B,19/07/2018,EUR,3.316875e+04,3.540000e+02,110.5660,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51094.00,0,SGD,EUR,3.316875e+04
410,1,B,21/08/2018,EUR,3.304460e+04,3.540000e+02,110.1530,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51132.94,0,SGD,EUR,3.304460e+04
431,1,B,19/09/2018,EUR,3.259767e+04,3.540000e+02,108.6544,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51167.16,0,SGD,EUR,3.259767e+04
453,1,B,19/10/2018,EUR,3.168961e+04,3.540000e+02,105.6336,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51202.56,0,SGD,EUR,3.168961e+04
474,1,B,20/11/2018,EUR,3.112918e+04,3.540000e+02,103.7692,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51240.32,0,SGD,EUR,3.112918e+04
492,1,B,14/12/2018,EUR,3.092345e+04,3.540000e+02,103.0730,SGD,LU1234DEMO1B,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.5428,51268.64,0,SGD,EUR,3.092345e+04
827,1,D,18/04/2018,EUR,9.102959e+08,1.041595e+07,103.1202,EUR,LU1234DEMO1D,3056.0112,277306.2068,12464.7176,1.131062e+06,NaN,4.4840,50985.44,0,EUR,EUR,9.102959e+08
1614,2,D,18/04/2018,USD,1.576185e+06,1.425086e+04,130.5080,EUR,LU1234DEMO2D,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.6372,50985.44,0,EUR,USD,1.576185e+06
1865,2,E,18/04/2018,USD,7.143558e+06,7.002829e+04,120.3718,USD,LU1234DEMO2E,0.0000,0.0000,0.0000,0.000000e+00,NaN,0.6018,50985.44,0,USD,USD,7.143558e+06

In [1]:
import firebase_admin
from firebase_admin import credentials, firestore

cred = credentials.Certificate("../identification/ngt-technical-test-firebase-adminsdk.json")
app=firebase_admin.initialize_app(cred)

In [6]:
from firebase_admin import credentials, firestore
store = firestore.client()

doc_ref = store.collection('test')
doc_ref.add({'name': 'test', 'added': 'just now'})

(seconds: 1583001943
 nanos: 893539000,
 <google.cloud.firestore_v1.document.DocumentReference at 0x8a43990>)